


body {
  width: 80%;
  margin: auto;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  ;

}

h1 {
  /* border: 2px solid red; */
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
  letter-spacing: 0.2rem;
  width: 70%;
  margin: 2rem auto;
}

.headDiv {
  text-align: center;

  & .question {
    /* border: 2px solid red; */
    color: maroon;
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    margin: 2rem;
    box-shadow: 5px 5px 15px black;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    
    /* background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); */
;

  }
  & .icon {
    cursor: pointer;
  }
  & .answer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem 5rem;
    margin: 2rem;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    box-shadow: 5px 5px 15px black;
    
    & div p{
    /* border: 2px solid red; */
    text-align: justify;
    


    }
  }
}
